.cont{
    margin-top: 50px;
    border-radius: 1rem;
}
.headings{
margin-left: 600px;    
}
.form{
margin-top: 40px;
margin-left: 600px;
border: 1px solid;
margin-right: 450px;
border-radius: 1rem;
padding-left: 15px;
}
.inp{
    margin-top: 10px;
}